* {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

#back {
    background-image: url(../imagens/menuprincipal_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover { 
    border: 5px solid rgb(255, 157, 0);
}

.menu {
    margin-top: 20%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#confi {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textButao {
    margin-bottom: 300px;
    
}

.bt-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid orange;
    border-radius: 15px;
    background: black;
    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 350px;
    height: 100px;
}