* {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

#back {
    background-image: url(../imagens/menuprincipal_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover { 
    color: blue;
}

.menu {
    margin-top: 20%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

#confi {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textButao {
    margin-bottom: 300px;
    
}

.butao {
    border-radius: 25px;
    border-color: orange;
    border-style: solid;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 400px;
    height: 100px;
    text-align: center;
    font-size: 35px;
}